*{
  font-family: "Lexend Deca", sans-serif;
}

.header{
  display: flex;
  gap: 5px;
  align-items: center;
}

.form-container {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #f7f7f7; */
  width: 100%;
  height: 80vh;
}

/* PROGRESS BAR */
.progressbar {
  width: 100%;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: rgb(98, 0, 255);
}

.other-info-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.other-info-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

/* input {
  border: 2px solid rgb(98, 0, 255);
  border-radius: 5px;
} */

/* input:focus {
  border: 3px solid rgb(98, 0, 255);
} */

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

/* .footer button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
} */

.footer button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

/* label */

.label-text{
  font-size: 14px;
  font-weight: 400;
  color: rgb(207,159,255);
  line-height: 20px;
  max-width: 100%;
}


body {
  font-family: Arial, sans-serif;
  /* background-color: #f9f9ff; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}


.container {
  padding: 40px;
  border-radius: 10px;
  width: 800px;
}

h1 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 0.9rem;
  color: rgb(207,159,255);
  margin-bottom: 5px;
}


input {
  width: 100%; /* Ensure the input takes full width */
  padding: 10px;
  border: none;
  border-bottom: 0.5px solid rgb(207,159,255); /* Add underline */
  font-size: 1rem;
  /* color: #333; */
}

select{
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 0.5px solid rgb(207,159,255); 
  font-size: 1rem;
  background-color: white;
}

.phoneInput{
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 0.5px solid rgb(207,159,255); 
  font-size: 1rem;
  background-color: white;
}

select::placeholder {
  color: rgb(207,159,255);
  font-size: 20px;
}


input::placeholder {
  color: rgb(207,159,255);
  font-size: 20px;
}

.submit-button {
  background-color: #d6a7ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 900;
}

.submit-button:hover {
  background-color: #b593ff;
}

.hint {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #b593ff;
}

.divider{
  display: flex;
  gap: 10px;
}

.page4{
  padding: 20px;
  width: 800px;
  align-items: center;
  justify-content: center;
}


/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
} */

/* .form {
  background: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.title {
  margin-bottom: 10px;
  color: #333;
}

.subtitle {
  margin-bottom: 20px;
  color: #777;
}

.options-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.option-text{
  color: rgb(207,159,255);
  font-size: 16px;
  line-height: 24px;
}

.option {
  flex: 1 1 30%;
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option.selected {
  background-color: #e0c8ff;
}

.option:hover {
  background-color: #d8bfff;
}

.option input {
  margin-right: 10px;
}

.page7 {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.left-section {
  width: 50%;
}

.right-section {
  width: 40%;
  text-align: center;
}

h2 {
  color: #333;
}

.optional {
  font-size: 0.8em;
  color: #777;
}

.disclaimer {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 20px;
}

.options-container {
  list-style-type: none;
  padding: 0;
}


.right-section h2 {
  font-size: 3em;
  color: #333;
}

.increase-text {
  font-size: 1.2em;
  color: #333;
}

.highlight {
  color: #4caf50;
}

.description {
  font-size: 1em;
  color: #777;
  margin-top: 10px;
}

.landing-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.left-section {
  flex: 1;
  padding: 20px;
}

.right-section {
  flex: 1;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.expectations {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.expectations-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.expectations-list li {
  margin-bottom: 5px;
}

.start-button {
  background-color: #b593ff;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 20px;
}

.start-button:hover {
  background-color: #a080ff;
}

.submit-info {
  font-size: 1em;
  color: #555;
}

.rating {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.course-report {
  display: block;
  font-size: 2em;
  color: #4caf50;
  margin-bottom: 10px;
}

.rating-score {
  font-size: 4em;
  color: #ff9800;
}

.companies {
  font-size: 1.2em;
  margin-top: 20px;
}

.company-logos {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.company-logos img {
  max-height: 40px;
}